<pre>
Here is how this tool works:

- First, your public PGP key must be stored on the server
- Second, store your private key in the browser (client only!)

This, you will need to do only once.
NOTE: the server is 100% "zero-knowledge!"

From now on, to use this tool you will:
- Let me know who you are: click 'Passphrase' and fill out the form.
- Click 'Navigate' and store/retrieve secrets.


</pre>
