<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/semantic/dist/semantic.min.css" />
    <link rel="stylesheet" href="/style.css" />

    <script src="/jquery/jquery-3.1.0.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/crypto/triplesec-3.0.14-min.js"></script>
    <script src="/kbpgp/kbpgp-2.0.8-min.js"></script>
    <script src="/utils.js"></script>
<script>
$(function() {
  init_all();
  refresh_passphrase_status();
});
</script>
</head>
<body>

<header>
  <div class="ui secondary pointing menu">
    <div class="ui text container">
      <span>
        <a href="/" class="item"><i class="home icon"></i></a>
      </span>
      <span id="navigate_menu">
        <a href="/navigate" class="item"><i class="folder open icon"></i></a>
      </span>
      <span>
        <a href="/upkey" class="item"><i class="privacy icon"></i></a>
      </span>
      <span id="ppstatus" class="item"></span>
      <span class="item">v0.0.3</span>
    </div>
  </div>
</header>

<main>
<p> </p>
  <div class="ui text container">
    <%= content %>
  </div>
</main>

<footer>
  <div class="ui text container center aligned">
    Crystal Vault, <i class="copyright icon"></i>2016 Chris F. Ravenscroft
    <a href="http://github.com/fusion/crystalvault"><i class="github icon"></i></a>
    <a href="http://nexus.zteo.com"><i class="rss square icon"></i></a>
    <a href="https://plus.google.com/u/0/+ChrisRavenscroft"><i class="google plus square icon"></i></a>
    <a href="http://twitter.com/chrisfr"><i class="twitter square icon"></i></a>
  </div>
</footer>

  <div class="ui long test modal">
    <div class="header moreheader">
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="/img/vault.png">
      </div>
      <div class="description">
      </div>
    </div>
    <div class="actions">
      <div class="ui primary approve button">
        Close
      </div>
    </div>
  </div>

  <div class="ui page dimmer">
    <div class="content">
      <div class="center txt"></div>
    </div>
  </div>

</body>
</html>
